* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #dddddd;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#header a {
  text-decoration: none;
  padding: 20px;
  color: red;
  font-size: 16px;
}

#header a:hover {
  background-color: whitesmoke;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  float: left;
  width: 60%;
  padding: 20px;
}

#left {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #dddddd;
  height: 250px;
  color: lightblue;
}

#left p {
  padding: 20px;
  color: blueviolet;
  text-decoration: underline;
  cursor: pointer;
}

#right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  float: left;
  width: 10%;
  margin-top: 50px;
}

#right p {
  padding: 30px;
  border: 1px solid lightgray;
  text-align: center;
}

footer {
  clear: both;
  background-color: white;
  color: white;
  padding: 8px;
  text-align: center;
}
